/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {

	chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <30>;
		rows = <1>;
		map = <
		RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)    RC(0,19) RC(0,18) RC(0,17) RC(0,16) RC(0,15)
		RC(0,5)  RC(0,6)  RC(0,7)  RC(0,8)  RC(0,9)    RC(0,24) RC(0,23) RC(0,22) RC(0,21) RC(0,20)
		         RC(0,10) RC(0,11) RC(0,12)                     RC(0,27) RC(0,26) RC(0,25)
		                           RC(0,13) RC(0,14)   RC(0,29) RC(0,28)
		>;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct";
		label = "KSCAN";
		input-gpios
		// Pour Nice!Nano v2 (les broches ont été modifiées)
		= <&pro_micro_d  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D6 - P0.08 sur Nice!Nano
		, <&pro_micro_d  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D4 - P0.22 sur Nice!Nano
		, <&pro_micro_a  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // A1 - P0.24 sur Nice!Nano
		, <&pro_micro_d  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D3 - P0.06 sur Nice!Nano
		, <&pro_micro_d  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D2 - P0.08 sur Nice!Nano
		, <&pro_micro_d  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D8 - P0.13 sur Nice!Nano
		, <&pro_micro_d 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D15 - P0.24 sur Nice!Nano (F5 sur Pro Micro)
		, <&pro_micro_d  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D5 - P0.17 sur Nice!Nano
		, <&pro_micro_a  0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // A0 - P0.20 sur Nice!Nano
		, <&pro_micro_a  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // A2 - P0.11 sur Nice!Nano
		, <&pro_micro_d 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D16 - P0.10 sur Nice!Nano (F6 sur Pro Micro)
		, <&pro_micro_d  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D7 - P1.00 sur Nice!Nano
		, <&pro_micro_d 14  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D14 - P1.11 sur Nice!Nano (F4 sur Pro Micro)
		, <&pro_micro_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D10 - P0.09 sur Nice!Nano
		, <&pro_micro_d  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D9 - P1.06 sur Nice!Nano
		;
	};

};
